.emailList {
    flex: 1;
    overflow: scroll;
}

.emailList__Settings {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

/* Hide scrollbar  for chrome, Safari and opera */
.emailList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE(internet explorer), edge and firefox */
.emailList {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.emailList__sections{
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList__list {
    padding-bottom: 20%;
}